.header
	.bubbles
		%h1.floating 
			%span	The rise of 
			%br
			Craft Beer
.content
	.card	
		%p.stat_number 
			17 
		%p &#37; growth in retail dollars in the U.S. Beer Industry.

		/ %i.fa.fa-arrow-circle-o-up
	.card
		%p.stat_number
			13
		%p million barrels of domestic craft beer sold.
	.card
		%p.stat_number
			10
		%p The average number of miles an American lives to a craft brewer.

	#map
	#alert
	.text
		%p An American craft brewer is small, independent and traditional.
		#accordion
			.accordionButton Small
			#open.accordionContent
				Annual production of 6 million barrels of beer or less. Beer production is attributed to a brewer according 	to the rules of alternating proprietorships. Flavored malt beverages are not considered beer for purposes of 	this definition.
			.accordionButton Independent
			.accordionContent
				Less than 25% of the craft brewery is owned or controlled (or equivalent economic interest) by an alcoholic 	beverage industry member who is not themselves a craft brewer.
			.accordionButton Traditional
			.accordionContent
				A brewer who has either an all malt flagship (the beer which represents the greatest volume among that 	brewers brands) or has at least 50% of its volume in either all malt beers or in beers which use adjuncts to 	enhance rather than lighten flavor.

/ .header.two
/ 	.bubbles
/ 		%h1.floating
/ 			%span Top 10 
/ 			%br
/ 			Craft Brewers

%script{src: "app.js"}
%script{src: "lib/raphael.js"}
%script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"}
%script{src: "color.jquery.js"}
%script{src: "jquery.usmap.js"}
%script{src: "bootstrap.js"}


