.header
	.bubbles
		%h1.floating 
			%span	The rise of 
			%br
			Craft Beer
.content
	%p Craft beer has been on the rise since
	
%script{src: "http://codepen.io/assets/libs/fullpage/jquery.js"}
%script{src: "app.js"}
%script{src: "us-map.js"}
%script{src: "raphael-min.js"}